@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
    background: linear-gradient(#0f5323, #272c34);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

a:hover{
    cursor: pointer;
    color: red;
}

.logo {
    width: 170px;
}

.logo img {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


section{
    display: flex;
    position: relative;
    min-height: 100vh;
    align-items: center;
    
}

button a{
    text-decoration: none;
    color: white;
}


.section__text {
    color: white;
    position: relative;
    width: 50%;
    text-align: center;
    top: -70px;
   
    
}

.section__text h1 {
    font-size: 4rem;
    margin-top: 10px;
    
    
}
.section__text p{
    font-size: 20px;
    margin: 30px 0;
    font-weight: 400;
    text-align: left;

}
.section__text div{
    text-align: left;
}

.container-button {
    display: flex;
    text-align: center;
    justify-content: center;
}

.section__text div button{
    font-size: 22px;
    color: white;
    border: none;
    background-color: transparent;
    margin-right: 30px;
    font-weight: 300;
}

.section__text div button:first-child{

    border: 1px solid white;
    border-radius: 50px;
    padding: 20px;
}

.section__img{
    position: absolute;
    right: -200px;
    bottom: -30px;
    top: 25px;
   
}
.section__img img{
    width: 750px;
    height: 750px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
