* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: springgreen;
  background-color: #0f3818;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em;
}

main {
  margin: 1.5em;
}

section {
  display: flex;
  width: 100%;
  position: relative;
}

.section-title {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 4px;
}

.about-hulk {
  font-size: 1rem;
  font-weight: 400;
  width: 90%;
}

section img {
  max-width: 56%;
  margin-top: 1em;
  border-radius: 1%;
}

.button {
  border: 1px solid white;
  display: inline-block;
  text-align: center;
  padding: 8px 15px;
  border-radius: 0.5rem;
  color: springgreen;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  font-weight: 700;
  position: absolute;
  top: 27em;
}

.button:hover {
  background-color: springgreen;
  color: #0f3818;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white; 
  color: black; 
  padding: 20px; 
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
}

/* Error page */

.body-error {
  background-color: lightskyblue;
}

.container-img-error {
 margin: 2em;
 width: 50%;
margin: 10px auto ;
}

.container-img-error img{
  width: 100%;
  border-radius: 0.5em;
}

.message{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message h1{
  font-size: 3.5rem;
}

.message p{
  font-size: 1.5rem;
}



